<IfModule mod_rewrite.c>
    # Enable the RewriteEngine
    RewriteEngine On

    # Check if the requested file or directory exists
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirect all other requests to index.html
    RewriteRule ^ index.html [L]
</IfModule>
