name: Build and Deploy
on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build Artifact
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Setup bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: .bun-version
      - name: Install Dependencies
        run: bun install --no-save --no-progress && cp .env.example .env
      - name: Build Release
        run: |
          rm -rf "src/routes/(dev)"
          bun run build
          cp src/.htaccess build/
        env:
          PUBLIC_TURBO_CPS: ${{ vars.TURBO_CPS }}
          GITHUB_SHA: ${{ github.sha }}

      - name: Prepare Artifacts
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./build

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
